asgiref
certifi
charset-normalizer
crispy-bootstrap5
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
djangorestframework
idna
Markdown
pillow
psycopg
psycopg2
psycopg2-binary
requests
sqlparse
sslcommerz-lib
typing_extensions
tzdata
urllib3
whitenoise